# SPDX-FileCopyrightText: : 2017-2022 The PyPSA-Eur Authors
#
# SPDX-License-Identifier: CC0-1.0

.snakemake*
.ipynb_checkpoints
__pycache__
*dconf
gurobi.log
.vscode

/bak
/resources
/results
/benchmarks
/logs
/notebooks
/data
/data/links_p_nom.csv
/cutouts
/dask-worker-space

doc/_build

config.yaml

dconf
/local_data_copies/eea_v_3035_100_k_natura2000_p_2020_v11_r00.zip
/local_data_copies/europe-2013-era5.nc
/local_data_copies/europe-2013-sarah.nc
/local_data_copies/Natura2000_end2020.gpkg
/local_data_copies/pypsa-eur-data-bundle.tar.xz
/local_data_copies/time_series_60min_singleindex.csv
